#about {
  background: $light;
  @include flex-center;

  .content-container {
    @include flex-column;
    gap: $space-lg;
  }

  h2 {
    text-align: center;
    margin-bottom: initial;
  }

  .separator {
    width: 6rem;
    margin: auto;
    border-bottom: 3px solid $primary;
  }

  .post-scriptum {
    text-align: center;
    margin-bottom: $space-2xl;
  }
}