$footer-height: 40px;

footer {
  margin-top: -$footer-height;
  height: $footer-height;
  background: $dark;
  @include flex-center;

  p, .date {
    color: $white;
    @include font-size($text-sm);

    .name {
      font-weight: 400;
    }
  }
}