@import "navbar";

$vh-header: 85vh;

header {
  scroll-snap-align: start;
  min-height: $vh-header;
  background: $light;

  .hero {
    min-height: calc(#{$vh-header} - #{$navbar-height});
    @include flex-center-column;
    text-align: center;

    img {
      max-width: 180px;
      border-radius: $br-full;
      margin-top: -2rem;
      margin-bottom: 1rem;
      box-shadow: $box-shadow;
    }

    h2 {
      @include font-size($text-xl);
      font-weight: 400;
    }

    p {
      margin-top: 1rem;
      color: $grey-dark;
    }
  }

  @include breakpoint($tablet) {
    .hero img {
      max-width: 210px;
    }
  }

  @include breakpoint($desktop) {
    .hero img {
      max-width: 240px;
    }
  }
}

