@import "navbar";

$vh-header: 75vh;

header {
  min-height: $vh-header;
  background: $light;

  .hero {
    min-height: calc(#{$vh-header} - #{$navbar-height});
    @include flex-center-column;
    text-align: center;
    padding: calc(#{$navbar-height} + #{$mp-2xl}) 0 $mp-xl 0;

    img {
      max-width: 210px;
      border-radius: $br-full;
      margin-top: -$mp-base;
      margin-bottom: $mp-base;
      box-shadow: $box-shadow;
    }

    h2 {
      @include font-size($text-xl);
      font-weight: 400;
      padding-top: initial;
      margin-bottom: initial;
      font-style: initial;
    }
  }

  @include breakpoint($tablet) {
    .hero img {
      max-width: 260px;
      margin-top: initial;
    }
  }

  @include breakpoint($desktop) {
    .hero img {
      max-width: 300px;
    }
  }
}

