@import "navbar";

$vh-header: 75vh;

header {
  scroll-snap-align: start;
  min-height: $vh-header;
  background: $light;

  .hero {
    min-height: calc(#{$vh-header} - #{$navbar-height});
    @include flex-center-column;
    text-align: center;
    padding: $mp-2xl 0 $mp-xl 0;

    img {
      max-width: 180px;
      border-radius: $br-full;
      margin-top: -$mp-xl;
      margin-bottom: $mp-base;
      box-shadow: $box-shadow;
    }

    h2 {
      @include font-size($text-xl);
      font-weight: 400;
    }

    .btn {
      position: relative;
      animation: fadeInUp 2s $easing;
    }
  }

  @include breakpoint($tablet) {
    .hero img {
      max-width: 210px;
    }
  }

  @include breakpoint($desktop) {
    .hero img {
      max-width: 240px;
    }
  }
}

