.navbar-container {
  height: var(--navbar-height);
  @include flex-center-vert;
  background: $white;
  color: $dark;
  position: fixed;
  width: 100%;
  @include z-index(high);
  @include transition(height box-shadow);

  &--on-scroll {
    box-shadow: rgb(99 99 110 / 20%) 0 1px 14px 0;
  }

  nav {
    @include flex-center-vert;
    justify-content: space-between;
  }

  .logo {
    @include flex-center-vert;

    h3 {
      @include font-size($text-2xl);
      font-weight: 600;
    }
  }

  .menu {
    margin: 0;
    background: $dark;
    position: fixed;
    left: -100%;
    top: var(--navbar-height);
    width: 50%;
    height: calc(100% - #{var(--navbar-height)});
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include transition(left, $time3);
    @include z-index(high);

    &--active {
      left: 0;
    }

    &__link {
      @include flex-center;
      height: 100%;
      cursor: pointer;
      @include transition(background);

      a {
        color: $white;
        font-weight: 500;
        @include font-size($text-xs);
        @include transition(color);
      }

      @include on-event{
        background: $white;

        a {
          color: $primary;
          border-color: $primary;
        }

        .btn--outline {
          background: $primary;
          color: $white;
        }
      }
    }

    .btn {
      margin-top: initial;
    }
  }

  .burger i {
    @include font-size($text-lg);
    cursor: pointer;
    @include transition(color, $time1);

    @include on-event {
      color: $primary !important;
    }
  }

  @include breakpoint($tablet) {
    .menu {
      min-width: 30%;
      align-items: center;
      width: initial;
      position: initial;
      background: initial;
      flex-direction: initial;

      &__link {
        margin-left: 1.5rem;

        a {
          color: $dark;
          border-color: $dark;
          @include transition(color, $time1);
        }

        @include on-event {
          background: inherit;
        }
      }
    }

    .burger {
      display: none;
    }
  }

  @include breakpoint($desktop) {
    .menu__link {
      margin-left: 2rem;
    }
  }
}

