#portfolio {
  h2 {
    text-align: center;
  }

  .projects {
    min-height: calc(100vh - 16.5rem);
    display: grid;
    grid-template-columns: 1fr;
    gap: $space-2xl;
    margin: 0 auto 4rem auto;
  }

  .project {
    position: relative;
    @include box(100%);
    @include flex-center-column;
    background: $dark;
    box-shadow: $box-shadow;

    img {
      @include box(100%);
      object-fit: cover;
      transition: all $time2 $easing;
    }

    h4 {

      @include font-size($text-base);
      position: absolute;
      bottom: -1.85rem;
    }

    &__content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @include fade('hide');
    }

    .project__cta {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @include flex-center-column;
      gap: $space-base;
      @include fade('hide');

      .btn {
        width: 100%;
        text-align: center;
        color: $dark;
        background: $white;
        border-color: $white;
        margin-top: initial;

        @include on-event {
          color: $white;
          background: transparent;
        }

        &--outline {
          color: $white;
          border-color: $white;
          background: transparent;

          @include on-event {
            color: $dark;
            background: $white;
          }
        }

        i {
          margin-left: $space-xs;
          color: $primary;
        }
      }
    }

    @include on-event {
      img {
        opacity: 0.2;
      }

      .project__cta {
        @include fade('show');
      }
    }
  }

  @include breakpoint($tablet) {
    .project__cta {
      gap: $space-lg !important;
    }
  }

  @include breakpoint($desktop) {
    .projects {
      grid-template-columns: 1fr 1fr;
    }
  }
}