#portfolio {
  scroll-margin-top: 2rem;
  margin-bottom: 4rem;

  h2 {
    padding: $mp-xl 0;
    @include flex-center-vert;
    color: $primary;
  }

  .projects {
    min-height: calc(100vh - #{$height-section-title} * 1.7);
    display: grid;
    grid-template-columns: 1fr;
    gap: $mp-2xl;
    margin-bottom: $mp-2xl;
  }

  .project {
    position: relative;
    @include box(100%);
    @include flex-center-vert;
    background: $dark;
    box-shadow: $box-shadow;

    &__content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @include fade('hide');

      h4 {
        color: $white;
      }
    }

    img {
      @include box(100%);
      object-fit: cover;
      transition: all $time2 $easing;
    }

    h4 {
      text-align: center;
    }

    .project__cta {
      @include flex-center-column;

      .btn {
        width: 100%;
        text-align: center;
        color: $dark;
        background: $white;
        border-color: $white;
        margin-top: $mp-base;

        @include on-event {
          color: $white;
          background: transparent;
        }

        &--outline {
          color: $white;
          border-color: $white;
          background: transparent;

          @include on-event {
            color: $dark;
            background: $white;
          }
        }

        i {
          margin-left: $mp-xs;
          color: $primary;
        }

        span {
          color: $primary;
        }
      }
    }



    @include on-event {
      img {
        opacity: 0.3;
      }

      .project__content {
        @include fade('show');
      }
    }
  }

  @include breakpoint($tablet) {
    scroll-margin-top: 4rem;

    .project .btn {
      margin-top: $mp-lg !important;
    }
  }

  @include breakpoint($desktop) {
    .projects {
      grid-template-columns: 1fr 1fr;
    }
  }

  @include breakpoint($lg-desktop) {
    .projects {
      padding: 0 10vw;
    }
  }
}