#portfolio {
  scroll-snap-align: start;

  h2 {
    height: 140px;
    @include flex-center-vert;
  }

  .projects {
    min-height: calc(100vh - #{$height-section-title} * 1.7);
    display: grid;
    grid-template-columns: 1fr;
    gap: $mp-2xl;
    margin-bottom: $mp-2xl;
  }

  .project {
    position: relative;
    @include flex-center-vert;
    @include box(100%);
    background: $primary;
    max-height: 234px;
    cursor: pointer;

    img {
      @include box(100%);
      object-fit: cover;
      transition: all $time2 $easing;
    }

    &__content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      @include fade('hide');

      h4 {
        color: $white;
      }
    }

    @include on-event {
      img {
        opacity: 0.5;
      }

      .project__content {
        @include fade('show');
      }
    }
  }

  @include breakpoint($desktop) {
    .projects {
      grid-template-columns: 1fr 1fr;
    }
  }

  @include breakpoint($lg-desktop) {
    .projects {
      padding: 0 $mp-xl;
    }
  }

  @include breakpoint($xl-desktop) {
    .projects {
      padding: 0 $mp-3xl;
    }
  }
}