html {
  scroll-behavior: smooth;
}

.content-container {
  margin: auto;
  width: $width-content-container-mobile;

  @include breakpoint($desktop) {
    width: $width-content-container-mobile;
  }
}

section {
  $navbar-height: 45px;
  //min-height: calc(100vh - #{$navbar-height});
  scroll-margin-top: $navbar-height;
  padding: $mp-base 0;
}

.btn {
  margin-top: $mp-lg;
  background: $primary;
  color: $white;
  @include font-size($text-sm);
  font-weight: 500;
  padding: $mp-sm $mp-lg;
  border: 1px solid $primary;
  border-radius: $br-full-px;
  transition: color $time2 $easing, background $time2 $easing, box-shadow $time2 $easing;


  @include on-event {
    background: transparent;
    color: $primary;
  }

  &--outline {
    background: transparent;
    color: $primary;

    @include on-event {
      background: $primary;
      color: $white;
    }
  }

  &--circle {
    border-radius: $br-full-px;
  }

  &--small {
    padding: 0 $mp-sm;
    @include font-size($text-xs);
  }

  &--gradient {
    @include on-event($self: true) {
      background: linear-gradient(36deg, $gradient-start 0%, $gradient-end 100%);
      border-color: transparent;
      color: white;
    }
  }
}

@include breakpoint($tablet) {
  .content-container {
    width: $width-content-container-tablet;
  }

  section {
    $navbar-height: 70px;
    //min-height: calc(100vh - #{$navbar-height});
    scroll-margin-top: $navbar-height;
  }
}

@include breakpoint($desktop) {
  .content-container {
    width: $width-content-container-desktop;
  }

  .btn--gradient {
    @include on-event {
      box-shadow: 0 10px 20px 0 $primary;
    }
  }
}

@include breakpoint($lg-desktop) {

}

@include breakpoint($xl-desktop) {

}