$container-tight: 55vw;

:root {
  --navbar-height: 45px;
  --content-container-width: 85vw;
}

@include breakpoint($tablet) {
  :root {
    --navbar-height: 70px;
    --content-container-width: 80vw;
  }
}

@include breakpoint($desktop) {
  :root {
    --content-container-width: 75vw;
  }
}


html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: var(--navbar-height);
  padding: $space-base 0;
}

.content-container {
  width: var(--content-container-width);
  margin: auto;
}

.btn {
  margin-top: $space-lg;
  background: $primary;
  color: $white;
  @include font-size($text-sm);
  font-weight: 500;
  padding: $space-sm $space-lg;
  border: 1px solid $primary;
  border-radius: $br-full-px;
  @include transition(color border box-shadow);

  @include on-event {
    background: transparent;
    color: $primary;
  }

  &--outline {
    background: transparent;
    color: $primary;

    @include on-event {
      background: $primary;
      color: $white;
    }
  }

  &--circle {
    border-radius: $br-full-px;
  }

  &--small {
    padding: 0 $space-sm;
    @include font-size($text-xs);
  }

  &--gradient {
    @include on-event($self: true) {
      background: linear-gradient(36deg, $gradient-start 0%, $gradient-end 100%);
      border-color: transparent;
      color: white;
    }
  }
}

@include breakpoint($desktop) {
  .btn--gradient {
    @include on-event {
      box-shadow: 0 10px 20px 0 $primary;
    }
  }
}

@include breakpoint($lg-desktop) {
  section > * {
    width: $container-tight !important;
  }
}